/*
	MEDIA QUERIES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
/*@media (max-width: 1600px)*/
	/**********************
		INDEX
    **********************/
	
    	
@media (max-width: 1400px)
	/**********************
		HEADER
    **********************/
	
			
	/**********************
		FOOTER
    **********************/    	
				
    		
@media (max-width: 1297px)
	/**********************
		HEADER
    **********************/

    	
	/**********************
		INDEX
    **********************/

	
	/**********************
		FOOTER
    **********************/    	

				

// Large devices (desktops, 62em and up)
@media (max-width: 991px)
	/**********************
		HEADER
    **********************/


	/**********************
       INDEX
    **********************/


	/**********************
		EMPRESAS
    **********************/
	
	

	/**********************
		PLANES
    **********************/
		
		

// Medium devices (tablets, 48em and up)
@media (max-width: 769px)
	body
		font-size 14px
		background-image url("../img/background-loginTablet.png")
		
	/**********************
        HEADER
    **********************/
	.reproductor
		width 27em
		iframe
			width 160%
		
	
	/**********************
        INDEX
    **********************/
    	


@media (max-width: 630px)

	body
		font-size 14px
		background-image url("../img/background-loginPhone.png")
		
	/**********************
		HEADER
    **********************/


	/**********************
    	INDEX
    **********************/
	
		
			


	/**********************
		FOOTER
    **********************/
	



// Small devices (landscape phones, 415px and up)
@media (max-width: 415px)
	body
		font-size 11px
		background-image url("../img/background-loginPhone2.png")

	/**********************
		HEADER
    **********************/

			
				
	/**********************
        INDEX
    **********************/

					

